<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="${@environment.getProperty('template.admin.name.base')}">

<span layout:fragment="title" th:remove="tag">Slideshow Management</span>

<h1 layout:fragment="main-title">Slideshow Management</h1>

<div layout:fragment="main-content">
<div th:include="admin/fragment/message :: message"></div>


    <div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Slideshow List</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                	<th>#</th>
                  	<th th:text="#{text.general.name}">name</th>
                  	<th th:text="#{text.general.actions}">actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" th:each="entity, iter : ${entities}">
                <td th:text="${iter.index+1}"></td>
	    		<td class="center" th:text="${entity.title}"></td>
	    		<td class="center">
	                <a class="btn btn-mini btn-info" th:href="@{/admin/slideshow/editItems/{contentId}(contentId=${entity.id})}" ><i class="icon-pencil"></i> <span th:text="#{text.general.edit}"></span></a>    
	            </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
</div>
<form method="POST" action="" name="post_form" id="post_form"  role="form">
    <input type="hidden" 
           th:name="${_csrf.parameterName}" 
           th:value="${_csrf.token}" />
</form>
</div>

<div layout:fragment="bottom-fragment">

</div>

</html>